# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# LHAPDF stuff created after install 
# (/install/ also included, no change is expected in that folder,
#  if needed, do a "add -f" to force add a new file)
NTuple/LHAPDF/install/*
NTuple/LHAPDF/lib/*
NTuple/LHAPDF/include/*
NTuple/LHAPDF/bin/*
NTuple/LHAPDF/share/*
